@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 718px;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  padding-right: 20px;
}

.close {
  align-self: flex-end;
  color: white;
  font-size: 40px;
}

.close > .material-symbols-outlined {
  font-size: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 375px;
  max-width: 767px;
  height: 48px;
  margin-top: 12px;
}

.logo {
  color: #6070ff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-left: 24px;
  text-decoration: none;
}

.logo-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  right: 24px;
  border-radius: 8px;
}

.bigger-text {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.smaller-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 6px;
}

.second-container {
  background-image: url(images/bg_image.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -33px;
  min-height: calc(100vh - 599px);
  border-bottom-left-radius: 90px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 128px 24px 128px;
}

.first-connect {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding-bottom: 12px;
}

.connect {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 12px;
}

.first-social {
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  list-style: none;
}

.social {
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  list-style: none;
  margin-bottom: 12px;
}

.twitter {
  height: 19.6px;
  width: 19.99px;
}

.github {
  height: 20px;
  width: 17.99px;
}

.linkedin {
  height: 16.97px;
  width: 12.71px;
}

.medium {
  height: 16px;
  width: 20px;
}

.angelist {
  height: 20px;
  width: 14.7px;
}

.mobile-version {
  display: grid;
  gap: 88px;
  padding: 114px 24px;
}

.second-phase {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-page {
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px 16px 28px;
  width: 100%;
}

.bar-word {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin-top: 12px;
}

.big-image {
  left: -30px;
}

.nav-list {
  margin: 20px 12px 20px 0;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  gap: 24px;
}

.canopy {
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #344563;
  line-height: 16px;
}

.back-end {
  color: #7a869a;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 16px;
}

.year {
  color: #7a869a;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 16px;
}

.language {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  color: #6070ff;
  position: relative;
  left: -0.2rem;
  margin-top: 12px;
}

.language-type {
  background-color: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
  margin-right: 8px;
}

.project-button {
  color: #6070ff;
  background-color: transparent;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
  padding: 12px;
  margin-top: 20px;
}

.about-page {
  padding: 144px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about-bigger-text {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  line-height: 52px;
}

.about-text {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  color: #344563;
}

.about-list {
  display: flexbox;
  list-style: none;
}

.resume-button {
  color: #6070ff;
  background-color: transparent;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  width: fit-content;
  margin-bottom: 50px;
  cursor: pointer;
  padding: 12px;
}

.language-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 36px;
}

.tab-item {
  width: 100%;
  margin: 1rem;
  border-bottom: 0.2rem solid #dfe1e6;
  padding: 0.5rem;
}

.tab-item-open {
  border-bottom: unset;
}

.drop-down {
  display: flex;
  margin-left: auto;
  text-align: center;
  background-color: transparent;
  font-size: large;
  margin-top: -1rem;
  margin-bottom: 1em;
  border: none;
}

.frame-lang {
  list-style-type: none;
  background-color: #f7f7f9;
  margin-bottom: 12px;
  padding: 9px 0 10px 12px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.tab-text {
  margin-left: 16px;
}

.unopened-title {
  padding: 24px 0;
  border-bottom: 1px solid #dfe1e6;
}

.language-words {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

button:hover {
  background-color: #6070ff;
  color: white;
}

button:active {
  background-color: #2230d2;
  color: white;
}

.drop-down:hover {
  background-color: #a3b7db;
}

.drop-down:active {
  background-color: #7a869a;
}

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6070ff;
  height: 779px;
  border-top-left-radius: 80px;
  margin-top: 176.85px;
  background-image: url(images/2nd-phase/contact-mob-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 120px;
  background-position-y: 15px;
}

.contact-me {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  color: #fff;
  margin: 103px 50px 0;
}

.contact-text {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  margin: 12px 24px 52px;
  color: #ebebff;
}

.form-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  margin-right: 24px;
  margin-bottom: 20px;
  height: 48px;
  border-radius: 8px;
}

.form-items input {
  border: 1px solid #cfd8dc;
  padding-left: 16px;
  margin-left: 24px;
  width: 327px;
}

.form-items textarea {
  width: 327px;
  height: 170px;
  border-radius: 8px;
  margin-bottom: 18px;
  padding-left: 16px;
  padding-top: 15px;
}

.head-words {
  list-style-type: none;
}

.links {
  text-decoration: none;
  color: #fff;
}

.contact-button {
  padding: 12px 16px;
  color: #6070ff;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  align-self: flex-start;
  margin-left: 22px;
}

.hidden {
  display: none;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

.desktop.show {
  display: flex;
  padding-top: 20px;
  padding-left: 15px;
  position: fixed;
  background-color: rgb(96, 112, 255, 0.8);
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  text-decoration: none;
  color: #fff;
  z-index: 2;
}

.project-details-modal {
  display: none;
}

.project-details-modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-family: "Poppins", sans-serif;
  background-color: rgb(96, 112, 255, 0.2);
  backdrop-filter: blur(5px);
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 2;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  width: 80%;
  height: 100%;
  margin: 30px 20%;
  padding: 20px;
}

.pop-up-topic {
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  color: #091e42;
}

.pop-mobile-text {
  font-size: 15px;
  font-weight: 400;
  color: #344563;
  line-height: 24px;
}

.pop-up-list {
  padding-bottom: 6px;
  font-size: small;
}

.pop-up-img {
  width: 100%;
  height: 300px;
}

.modal-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-bottom: 8px;
}

.pop-up-details-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 28px;
}

.pop-up-text {
  flex: 1;
  font-weight: 400;
  font-size: 14px;
  overflow: hidden;
  line-height: 25px;
}

.pop-tech {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 8px;
}

.pop-up-tech {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  color: #6070ff;
  position: relative;
}

.pop-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;

  /* font-size: 16px; */
  padding-bottom: 28px;
}

.pc-pop-canopy {
  list-style-type: none;
  color: #344563;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.pc-pop-back-end {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #7a869a;
}

.pc-pop-year {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #7a869a;
}

.pop-up-tech-type {
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
}

.pop-up-button {
  display: flex;
  width: 100%;
  gap: 12px;
  margin-top: 25px;
}

.pop-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  font-weight: 400;
  gap: 5px;
  line-height: 20px;
  padding: 8px;
  color: #6070ff;
  background-color: #fff;
  border: 1px solid #6070ff;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}

.pop-button-source {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  font-weight: 400;
  gap: 5px;
  line-height: 20px;
  padding: 6px;
  color: #6070ff;
  background-color: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}

.mobile-project-modal {
  display: none;
}

.mobile-project-modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgb(96, 112, 255, 0.2);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 2;
  padding: 16px;
}

.mobile-modal-content {
  background-color: #fff;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 16px;
}

.mobile-modal-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.pop-mobile-topic {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.pop-mobile-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 24px;
  margin-top: 14px;
  font-size: 16px;
}

.mobile-canopy {
  color: #344563;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  list-style-type: none;
}

#mobile-popup-img {
  width: 100%;
  height: 220px;
  border-radius: 8px;
  margin: 12px 0;
}

.mobile-back-end {
  color: #7a869a;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.mobile-year {
  color: #7a869a;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.pop-mobile-tech {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  color: #6070ff;
  margin-top: 12px;
  font-size: 100px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EBECF0;
  font-weight: 400;
  gap: 8px;
}

.see-live {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  gap: 10px;
  padding: 14px 22px;
  color: #396df2;
  background-color: #fff;
  border: 1px solid #396df2;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}

.see-source {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  gap: 10px;
  padding: 14px 22px;
  color: #396df2;
  background-color: #fff;
  border: 1px solid #396df2;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;}

#errorMessage {
  color:red;
  display: none;
}
