@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 718px;
  width: 375px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 375px;
  height: 48px;
  margin-top: 12px;
}

.logo {
  display: flex;
  color: #6070ff;
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  white-space: nowrap;
  line-height: 20px;
  margin-left: 24px;
  padding-right: 200px;
  flex-direction: row-reverse;
  text-decoration: none;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  right: 24px;
  border-radius: 8px;
}

.bigger-text {
  display: flex;
  align-items: center;
  width: 327px;
  height: 150px;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  padding: 80px 24px 0 24px;
  line-height: 52px;
  margin-top: 114px;
}

.bigger-text-2 {
  display: flex;
  align-items: center;
  width: 327px;
  height: 35px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
  top: 24rem;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 295px;
  height: 76px;
  color: #344563;
}

.smaller-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
  height: 146px;
  color: #344563;
  padding: 8px 24px 0 24px;
  margin-top: 34px;
}

.second-container {
  background-image: url(images/bg_image.png);
  width: 100%;
  height: 587.15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 599px);
  border-bottom-left-radius: 90px;
  background-color: #fff;
}

.first-connect {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
  margin-top: 30px;
}

.connect {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
}

.social {
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  padding: 12px 0 0 10px;
  list-style: none;
  margin-left: 15px;
  margin-top: 12px;
}

.twitter {
  height: 19.6px;
  width: 19.99px;
}

.github {
  height: 20px;
  width: 17.99px;
}

.linkedin {
  height: 16.97px;
  width: 12.71px;
}

.medium {
  height: 16px;
  width: 20px;
}

.angelist {
  height: 20px;
  width: 14.7px;
}

.mobile-version {
  display: grid;
}

.second-phase {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 114px 24px 0;
}

.second-page {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px 16px 28px;
}

.bar-word {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin-top: 12px;
}

.big-image {
  left: -30px;
}

.nav-list {
  margin: 20px 12px 20px 0;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  left: -1rem;
}

.canopy {
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #344563;
  margin-right: auto;
  margin-left: 16px;
  line-height: 16px;
}

.back-end {
  position: relative;
  right: 0.6rem;
  color: #7a869a;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 16px;
  left: -3rem;
}

.year {
  position: relative;
  right: -1.3rem;
  color: #7a869a;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 16px;
  left: -1rem;
}

.small-text-2 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  height: 295px;
  width: 295px;
}

.language {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  color: #6070ff;
  position: relative;
  left: -0.2rem;
  margin-top: 12px;
}

.language-type {
  background-color: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
  margin-right: 8px;
}

.project-button {
  color: #6070ff;
  background-color: transparent;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
  padding: 12px;
  margin-top: 20px;
}

.about-bigger-text {
  width: 327px;
  height: 35px;
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  line-height: 52px;
  margin: 114px 24px auto 24px;
}

.about-text {
  width: 327px;
  height: 147px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  list-style: 24px;
  color: #344563;
  margin: 12px 24px auto 24px;
}

.about-list {
  display: flexbox;
  list-style: none;
  padding: 10px;
  margin-left: 24px;
  margin-right: 36px;
}

.resume-button {
  color: #6070ff;
  background-color: transparent;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
  padding: 12px;
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 48px;
}

.language-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 36px;
}

.drop-down {
  display: flex;
  margin-left: auto;
  text-align: center;
  background-color: transparent;
  font-size: large;
  margin-top: -1rem;
  margin-bottom: 1em;
  border: none;
}

.frame-lang {
  list-style-type: none;
  background-color: #f7f7f9;
  margin-bottom: 12px;
  padding: 9px 0 10px 12px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.tab-text {
  margin-left: 16px;
}

.unopened-title {
  padding: 24px 0;
  border-bottom: 1px solid #dfe1e6;
}

.language-words {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

button:hover {
  background-color: #6070ff;
  color: white;
}

button:active {
  background-color: #2230d2;
  color: white;
}

.drop-down:hover {
  background-color: #a3b7db;
}

.drop-down:active {
  background-color: #7a869a;
}

.contact-page {
  background-image: url(images/2nd-phase/contact-mob-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #6070ff;
  width: 375px;
  height: 779px;
  border-top-left-radius: 80px;
  margin-top: 176.85px;
}

.contact-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  color: #fff;
  margin: 103px 50px 0;
}

.contact-text {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  height: 137px;
  text-align: center;
  width: 327px;
  margin: 12px 24px 52px;
  color: #ebebff;
}

.form-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 24px;
  margin-left: 24px;
}

input {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  margin-right: 24px;
  margin-bottom: 20px;
  width: 327px;
  height: 48px;
  border-radius: 8px;
}

.form-items input {
  border: 1px solid #cfd8dc;
  padding-left: 16px;
  margin-left: 24px;
}

textarea {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.form-items textarea {
  width: 327px;
  height: 170px;
  border-radius: 8px;
  margin-bottom: 18px;
  padding-left: 16px;
  padding-top: 15px;
}

.contact-button {
  padding: 12px 16px;
  color: #6070ff;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  left: -6.2rem;
}
